@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(97.59% 0.0029 264.5);
	--foreground: oklch(24.36% 0.0224 265.7);
	--card: oklch(96.65% 0.0045 258.3);
	--card-foreground: oklch(24.36% 0.0224 265.7);
	--popover: oklch(96.65% 0.0045 258.3);
	--popover-foreground: oklch(24.36% 0.0224 265.7);
	--primary: oklch(56.34% 0.2505 292.8);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(93.68% 0.01 267.4);
	--secondary-foreground: oklch(24.36% 0.0224 265.7);
	--muted: oklch(88.73% 0.0177 264.5);
	--muted-foreground: oklch(48.09% 0.0277 264.3);
	--accent: oklch(93.68% 0.01 267.4);
	--accent-foreground: oklch(24.36% 0.0224 265.7);
	--destructive: oklch(47.73% 0.1915 19.42);
	--border: oklch(28.89% 0.1364 262.6 / 0.1843);
	--input: oklch(44.24% 0.2901 269.1 / 0.1216);
	--ring: oklch(64.2% 0.2076 290.4 / 0.8);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(96.65% 0.0045 258.3);
	--sidebar-foreground: oklch(24.36% 0.0224 265.7);
	--sidebar-primary: oklch(66.43% 0.1826 293.5);
	--sidebar-primary-foreground: oklch(90.89% 0.0494 295.6);
	--sidebar-accent: oklch(93.68% 0.01 267.4);
	--sidebar-accent-foreground: oklch(24.36% 0.0224 265.7);
	--sidebar-border: oklch(28.89% 0.1364 262.6 / 0.1843);
	--sidebar-ring: oklch(64.2% 0.2076 290.4 / 0.8);

	color-scheme: light;
}

.dark {
	--background: oklch(14.05% 0.009 273.2);
	--foreground: oklch(94.87% 0.0058 264.5);
	--card: oklch(20.76% 0.0092 255.6);
	--card-foreground: oklch(94.87% 0.0058 264.5);
	--popover: oklch(20.76% 0.0092 255.6);
	--popover-foreground: oklch(94.87% 0.0058 264.5);
	--primary: oklch(60.06% 0.2425 293.9);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(25.05% 0.0128 258.4);
	--secondary-foreground: oklch(94.87% 0.0058 264.5);
	--muted: oklch(31.16% 0.016 259.8);
	--muted-foreground: oklch(76.8% 0.0219 261.8);
	--accent: oklch(25.05% 0.0128 258.4);
	--accent-foreground: oklch(94.87% 0.0058 264.5);
	--destructive: oklch(67.59% 0.194 13.58);
	--border: oklch(86.82% 0.0639 256.5 / 0.2392);
	--input: oklch(96.89% 0.0437 185.9 / 0.1451);
	--ring: oklch(62.89% 0.2196 293.3 / 0.749);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(20.76% 0.0092 255.6);
	--sidebar-foreground: oklch(94.87% 0.0058 264.5);
	--sidebar-primary: oklch(60.06% 0.2425 293.9);
	--sidebar-primary-foreground: oklch(90.89% 0.0494 295.6);
	--sidebar-accent: oklch(25.05% 0.0128 258.4);
	--sidebar-accent-foreground: oklch(94.87% 0.0058 264.5);
	--sidebar-border: oklch(86.82% 0.0639 256.5 / 0.2392);
	--sidebar-ring: oklch(62.89% 0.2196 293.3 / 0.749);

	color-scheme: dark;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	:root {
		background-color: var(--background);
	}
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
